body {
  font-family: Monospace;
  background-color: #d0b49f;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3.5vh 5vw 1vw 1vw;
  user-select: none;
  display: flex;
  align-items: center; /* Center content vertically */
  user-select: none;
}

.logo {
  width: 250px;
  margin-left: 50px;
  user-select: none;
  cursor: pointer;
}

h1:hover {
  cursor: default;
}

.animate__fadeInDown {
  animation-duration: 1s;
}

.animate__fadeIn {
  animation-duration: 3s;
}

/* ---------------------BUTTON MENU----------------------- */
.btn {
  font-size: 1.2vw;
  background: transparent;
  border: none;
  padding: 0.8em 1.5em;
  color: #424242;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  margin-right: -1vw;
  font-weight: bold;
  cursor: pointer;
}

.btn:not(#contact, #home)::before {
  content: "";
  position: absolute;
  left: 2rem;
  bottom: 0;
  height: 3px;
  width: 30%;
  background-color: #b8a49d;
  transition: 0.3s ease;
}

#about {
  color: black;
}

.btn::before {
  content: "";
  position: absolute;
  left: 2rem;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #b8a49d;
  transition: 0.3s ease;
}

.btn:hover::before {
  width: 30%;
}

/* -------------------------------------------------------- */
.leftItem {
  grid-area: main;
  margin-top: -50px;
}
.rightItem {
  grid-area: right;
  margin-top: 30px;
}

.grid-container {
  display: grid;
  grid-template-areas: "main main right right right";
  /* background-color: #2196f3; */
  gap: 5px;
  padding: 10px;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

h1 {
  text-align: center;
  line-height: 100px;
  font-size: 50px;
}
h2 {
  font-size: 35px;
}

.slideshow-container {
  text-align: justify;
  max-width: 70%;
  margin-left: 100px;
}

.slideshow-container > h2 {
  font-size: 25px;
}

.slideshow-container > p {
  font-size: 18px;
  line-height: 30px;
  text-indent: 20px;
  margin-bottom: 40px;
  margin-top: -15px;
}

.long {
  margin-bottom: 50px;
}

div.polaroid {
  width: 22%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  display: inline-block;
}

div.container {
  text-align: center;
  padding: 10px 20px;
  font-size: 13px;
}

.container > h5 {
  line-height: 1em;
  font-size: 1.5em;
  margin-bottom: -20px;
}
.container > h6 {
  color: #999;
  font-size: 1.2em;
  text-transform: uppercase;
}

.rightItem > h2 {
  margin-top: 15px;
}
