body {
  font-family: Monospace;
  background-color: #f6f2f0;
  background-image: url(/images/bg-pallete.png);
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3.5vh 5.5vw 1vw 1vw;
  user-select: none;
  display: flex;
  align-items: center;
  user-select: none;
}

.logo {
  width: 250px;
  margin-left: 85px;
  user-select: none;
  cursor: pointer;
}

.animate__fadeInDown {
  animation-duration: 1s;
}

.animate__fadeIn {
  animation-duration: 2s;
}

.animate__fadeInUp {
  animation-duration: 1s;
}
/* ---------------------BUTTON MENU----------------------- */
.btn {
  font-size: 1.2vw;
  background: transparent;
  border: none;
  padding: 0.8em 1.5em;
  color: #424242;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  margin-right: -1vw;
  font-weight: bold;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 2rem;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #b8a49d;
  transition: 0.3s ease;
}

.btn:hover::before {
  width: 30%;
}

/* -------------------------------------------------------- */

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  text-align: center;
  font-weight: 700;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-align: center;
  margin: -10px 632px 0px 632px;
  color: #625f5f;
}

/* --------------------BUTTON------------------------------ */
.categories {
  display: inline-flex;
  margin-left: 550px;
}

.category {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  appearance: button;
  background-color: #f1e7dd;
  border: solid transparent;
  border-radius: 10px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 130px 0 0 10px;
  outline: none;
  overflow: visible;
  padding: 7px 15px;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
}

.category:main,
.category:focus {
  user-select: auto;
}

.category:hover:not(:disabled) {
  filter: brightness(1.3);
}

.category:disabled {
  cursor: auto;
}

.category:active:after {
  border-width: 0 0 0px;
}

.category#all {
  color: #f0f0f0;
  background-color: #cfb79e;
}

/* --------------------BOXES------------------------------ */
/* .boxes {
  margin-top: 50px;
  text-align: center;
  width: 570px;
  height: 420px;
  margin: 20px;
  border: 2px solid #000;
  display: inline-block;
} */

.space-bottom {
  margin-bottom: 100px;
}

svg {
  background-color: #f6f2f0;
  margin-top: 50px;
  text-align: center;
  width: 570px;
  height: 420px;
  margin: 20px;
  border: 2px solid #000;
  display: inline-block;
}
